@{
    ViewData["Title"] = "Index";
}

<h1>Koszyk</h1>
<br />
<div class="d-flex flex-column">
    <table cellpadding="5" cellspacing="5" border="1">
        <tr>
            <th>Akcja</th>
            <th>Id Książki</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Łączny koszt</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td align="center">
                    <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Book.BookId">
                        <span class="btn btn-danger font-weight-bold">X</span>
                    </a>
                </td>
                <td>@item.Book.BookId</td>
                <td>@item.Book.Name</td>
                <td>@item.Book.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Book.Price * item.Quantity )</td>
            </tr>
        }
        <tr>
            <td colspan="5" align="right">Total</td>
            <td>@ViewBag.total</td>
        </tr>
    </table>
    <br />
    <div class="d-flex justify-content-between">
        <a asp-controller="Customer">
            <span class="btn btn-outline-primary"> Kontynuuj zakupy</span>
        </a>
        <a>
            <span class="btn btn-success">Przejdź do płatności</span>
        </a>
    </div>
</div>

