@model IEnumerable<Projekt_ASP.Models.Book>

<div>
    <div class="d-flex align-content-center">
        <a class="btn btn-outline-success mb-2 display-1" type="button" asp-controller="Book" asp-action="Add">Add new book</a>
        <h2 class="ml-xl-3">Lista książek</h2>
    </div>
    <table class="table">
        <thead class="thead-light table-borderless">
            <tr>
                <th width="15%">Nazwa</th>
                <th width="15%">Autor</th>
                <th width="15%">Kategoria książki</th>
                <th width="12%">Liczba stron</th>
                <th width="12%">Data wydania</th>
                <th width="31%" class="text-center">Opcje</th>
            </tr>
        <thead />
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Author</td>
                    <td>@item.Categories</td>
                    <td>@item.PageCount</td>
                    <td>@item.ReleaseDate</td>
                    <td class="text-center">
                        <a class="btn btn-primary" type="button" asp-controller="Book" asp-action="Edit" asp-route-id="@item.BookId">Edytuj</a>
                        <a class="btn btn-danger" type="button" asp-controller="Book" asp-action="Delete" asp-route-id="@item.BookId">Usuń</a>
                        <a class="btn btn-success" type="button" asp-controller="Book" asp-action="Description" asp-route-id="@item.BookId">Szczegóły</a>
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>
