@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Projekt_ASP.Models.Book>
@*@model Projekt_ASP.Models.Book*@
<a class="btn btn-primary" type="button" asp-controller="Book" asp-action="Add">Add new book</a>
<h1>Lista dostępnych książek </h1>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Autor</th>
        <th>Liczba stron</th>
        <th>Data wydania</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Author</td>
    <td>@item.PageCount</td>
    <td>@item.ReleaseDate</td>
    <td><a class="btn btn-primary" type="button" asp-controller="Book" asp-action="Edit" asp-route-id="@item.BookId">Edytuj</a></td>
    <td><a class="btn btn-danger" type="button" asp-controller="Book" asp-action="Delete" asp-route-id="@item.BookId">Usuń</a></td>
    <td><a class="btn btn-primary" type="button" asp-controller="Book" asp-action="Description" asp-route-id="@item.BookId">Szczegóły</a></td>
</tr>
    }

</table>
