@model Projekt_ASP.Models.Book

@{
    ViewData["Title"] = "Description";
}

<div class="container">
    <h2>Szczegóły na temat książki</h2><hr>
    <dl class="row">
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        <dt class="col-sm-2 border-right">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.BookId })
        <a class="m-lg-5" asp-controller="Book" asp-action="BookList">Wróć do listy</a>
    </div>
</div>
